<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIcons</key>
    <array>
        <string>Icon-152.png</string>
    </array>
    <key>OPENAI_API_KEY</key>
    <string>$(OPENAI_API_KEY)</string>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-2693486326447923~8659944050</string>
    <key>SKAdNetworkItems</key>
    <array>
        <dict>
            <key>SKAdNetworkIdentifier</key>
            <string>cstr6suwn9.skadnetwork</string>
        </dict>
    </array>
</dict>
</plist>
