# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/

# API Keys and Config
**/Config.plist
**/APIKeys.plist

# Certificates
*.p12
*.mobileprovision

# Simulator
*.app
*.dSYM.zip
*.dSYM

# Cocoapods
Pods/
*.xcworkspace
!default.xcworkspace

# Swift Package Manager
.build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output